.products-description-section {
    background-color: #f3f4ff;
    margin-top: 90px;
    padding: 10px 5px;
}

.description__title {
    font-family: "Inter";
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 8px;
}

.description__subtitle {
    font-family: "Inter";
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #151875;
    margin-top: 24px;
}

.description__text {
    font-family: "Inter";
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #151875;
    opacity: 50%;
    margin-top: 12px;
    margin-bottom: 21px;
    text-align: justify;
}

.more-details {
    font-family: "Inter";
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #151875;
    opacity: 50%;
    margin-bottom: 8px;
    text-align: justify; 
}

.more-details::before {
    content: url(../../images/streleka.svg);
    position: relative;
    top: 2px;
}

.related {
    margin-top: 87px;
}

.related__title {
    font-family: "Inter";
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: $primary-color;
    text-transform: capitalize;
    text-align: center;
}

.related__list {
    @include list-unstyled;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.related__img {
    width: 180px;
    height: 200px;
    background-color: #f3f4ff;
}

.related__badges {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.related__badges  p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: $primary-color;
}

.related__badges svg{
    cursor: pointer;
    transition: all .2s ease-in;
}

.related__badges svg:hover path {
    fill: #fad739;
}

.related__price {
    margin-top: 3px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 8px;
    line-height: 9px;
    color: $primary-color;
}