.tranding {
    margin-top: 120px;
}

.tranding-section-title {
    font-family: "Inter";
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: $primary-color;
    text-transform: uppercase;
    text-align: center;
}

.tranding__list {
    @include list-unstyled;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tranding__item {
    width: 275px;
    text-align: center;
    box-shadow: 0 0 24px 5px #f3f4ff;
    cursor: pointer;
}

.tranding__img{
    background-color: #f3f4ff;
    transition: all .3s ease-in;
}

.tranding__item ~ .tranding__item {
    margin-left: 16px;
}

.tranding__item >div > button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: -100px;
    top: -50px;
}

.tranding__content {
    background-color: #fff;
    position: relative;
    top: -14px;
}

.tranding__item:hover .tranding__img {
    background-color: rgb(46, 86, 146);
}

.tranding__title {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $primary-color;
}

.tranding__price {
    padding: 0;
    margin: 0;
    margin-top: 29px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $primary-color;
}

.tranding__old-price {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color;
    text-decoration: line-through;
    opacity: 50%;
}

.tranding__second-list {
    @include list-unstyled;
    margin-top: 178px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.tranding__second-item {
    transition: all .3s ease-in;
}   

.tranding__second-img {
    background-color: #f3f4ff;
    padding-right: 20px;
    border-radius: 5px;
}

.tranding__second-item:hover .tranding__second-img {
    background-color:  rgb(46, 86, 146);
    transition: all .3s ease-in;
    cursor: pointer;
}

.tranding__third-list-img:hover{
    background-color: rgb(46, 86, 146);
    transition: all .3s ease-in;
    cursor: pointer;
}

.tranding__second-item p{
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: $primary-color;
    position: relative;
    top: -230px;
    left: 10px;
}

.tranding__second-item button{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: $secondary-color;
    cursor: pointer;
    position: relative;
    top: -225px;
    left: 10px;
}

.tranding__third-list {
    @include list-unstyled; 
}
.tranding__third-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.tranding__third-list li> img {
    background-color: #f3f4ff;
    border-radius: 5px;
    padding: 8px 15px;
    margin-right: 10px;
}

.tranding__third-list li> div > span {
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $primary-color;
}
 